button:hover {
    color:red
}

body#home{
    border: 1px solid rgb(57, 51, 138);
    max-width: 47%;
    padding: 0;
    margin: 0 auto;
    background-image: url(C:\Users\Felip\OneDrive\Área de Trabalho\Imagens Desafio\fundo.png)repeat-x;
}

body#corpo{
    border: 1px solid rgb(57, 51, 138);
    max-width: 47%;
    padding: 0;
    margin: 0 auto;
    background-image: url(C:\Users\Felip\OneDrive\Área de Trabalho\Imagens Desafio\fundo2.png);
}

img#logo{
    position: center;
    right: 20px;
    padding-top: 0px;
   
}

#inicio{
    position: relative;
    display: flex;
    
    margin: 30px 20px 10px 20px;
    padding: -30px;
    width: 700px;
}

div.atalhos{
    float: right;
    padding-top:  30px;
}    

#capa{
    position: relative;
    align-self: center;
    top: 7px;
}

h4.final{
    text-align:center;

}

div#cabeçalho{
    position: relative;
    display: flex;
    
    margin: 30px 20px 10px 20px;
    padding: -30px;
    width: 700px;
}